img {
  width: 300px;
  height: 300px;
  padding: 20px;
}
.container {
  border: 1px solid black;
}
.left {
  width:50%;
  display: inline-block;
  vertical-align: top;
}
.right{
  width: 50%;
  display: inline-block;
  vertical-align: top;
}
.container {
  width: 70%;
  margin: 0 auto;
}
