<div class="nav">
  <h1>Navigation</h1>
  <nav>
      <ul>
        <li><a [routerLink]='["5809844"]'>Seattle</a></li>
        <li><a [routerLink]='["5392171"]'>San Jose</a></li>
        <li><a [routerLink]='["4885983"]'>Burbank </a></li>
        <li><a [routerLink]='["4684888"]'>Dallas</a></li>
        <li><a [routerLink]='["4140963"]'>Washington, DC</a></li>
        <li><a [routerLink]='["4887398"]'>Chicago</a></li>
      </ul>
  </nav>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
