<section class="bike_of_day hero">
  <section class="hero-body">
    <div class="container">
      <h1 class="title has-text-link">Bike of the day</h1>
      <app-bicycle [bicycle]="bicycle" ></app-bicycle>
    </div>
  </section>
</section>
<section>
  <section class="container">
    <div class="columns">
      <div class="login column">
        <p>{{ login_errors }}</p>
        <form #login_form="ngForm" (submit)="login($event)">
          <div class="field">
            <div class="control">
              <label for="">Email: </label>
              <input type="email" name="email" required [(ngModel)]="login_user.email">
            </div>
          </div>
          <div class="field">
            <div class="control">
              <label for="">Password: </label>
              <input type="password" name="password" required [(ngModel)]="login_user.password">
            </div>
          </div>
          <p *ngIf="">Invalid Credentials</p>
          <input type="submit" value="login" [(disabled)]="!login_form.valid">
        </form>
      </div>
      <div class="register column">
        <p>{{ register_errors }}</p>
        <form class="has-text-right" #form="ngForm" (submit)="register($event)">
            <div class="field">
              <div class="control">
                <label for="first_name">First Name</label>
                <input type="text" name="first_name" required [(ngModel)]="user.first_name" #first_name="ngModel" minlength="2">
              </div>
            </div>
            <div class="field">
              <div class="control">
                <label for="last_name">Last Name</label>
                <input type="text" name="last_name" required [(ngModel)]="user.last_name" #last_name="ngModel">
              </div>
            </div>
            <div class="field">
              <div class="control">
                <label for="email">Email: </label>
                <input type="email" name="email" required [(ngModel)]="user.email" #email="ngModel">
              </div>
            </div>
            <div class="field">
              <div class="control">
                <label for="password">Password: </label>
                <input type="password" name="password" required [(ngModel)]="user.password" #password="ngModel">
              </div>
            </div>
            <div class="field">
              <div class="control">
                <label for="password_conf">Confirm Password: </label>
                <input type="password" name="password_confirm" required [(ngModel)]="user.password_conf" #password_conf="ngModel" [(pattern)]="user.password">
              </div>
            </div>
            <input type="submit" value="Register" [disabled]="!form.valid">
        </form>
      </div>
      </div>
  </section>
</section>
