<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>New Bear</h1>
    <form class="" action="/bears" method="post">
      <p>
        <label for="name">Name: </label>
        <input type="text" name="name" value="">
      </p>
      <p>
        <label for="email">Email: </label>
        <input type="email" name="email" value="">
      </p>
      <p>
        <label for="age">Age: </label>
        <input type="number" name="age" min="18" max="99" value="">
      </p>
      <input type="submit" name="" value="Submit">
    </form>
  </body>
</html>
