<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Name: <%= bear.name%></h1>
    <p>Email: <%= bear.email%></p>
    <p>Age: <%= bear.age %></p>
    <a href="/">Back</a>
  </body>
</html>
