<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Results</title>
  </head>
  <body>
    <div class="info">
      <h1>Submitted Info</h1>
      <p><strong>Name: </strong><%= name %></p>
      <p><strong>Dojo Location: </strong><%= location %></p>
      <p><strong>Favorite Language: </strong><%= lang %></p>
      <p><strong>Comment: </strong><%= comment %></p>
    </div>
  </body>
</html>
