<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <h1>Add a quote</h1>
  <form #form="ngForm" (submit)="addQuote()">
    <textarea name="quote" rows="8" cols="80" minlength="4"
    required [(ngModel)]="new_quote.quote" #quote="ngModel"></textarea>
    <span *ngIf="quote.errors"> Quote is required</span>
    <p>
      <label for="author">Author</label>
      <input type="text" name="author" value="" required minlength="1" id="author" #author="ngModel" [(ngModel)]="new_quote.author">
      <span *ngIf="author.errors"> Author is required</span>
    </p>
    <p>
      <input *ngIf="!form.valid" type="submit" name="" value="Add a quote" disabled>
      <input *ngIf="form.valid" type="submit" name="" value="Add a quote">
    </p>
  </form>
  <h1>Quotes List</h1>
  <hr>
  <app-quote *ngFor="let quote of quotes" [quote]="quote" (update)="update($event)" (delete)="delete($event)"></app-quote>
</div>
