<div class="container">
  <div class="columns bicycle">
    <div class="column">
      <img src="" alt="picture of bicycle">
    </div>
    <div class="column">
        <div class="media">
          <h1 class="title">Title</h1>
           <p>Lorem psum dolor sit amet y conseor sit amet, pero consectutur adipiscing elit, sed
           doi voce pan de palorama cuando me toca la pictura tora spandoleta conector</p>
        </div>
    </div>
    <div class="column">
      <div class="media">
        <h1 class="title">$950</h1>
        <p>Los Angeles, CA</p>
        <div *ngIf="logged_in">
          <button *ngIf="my_listing">Delete</button>
          <button *ngIf="!my_listing">Contact</button>
        </div>
      </div>
    </div>
  </div>
</div>
