.form {
  height: 200px;
  margin: 10px;
  width: 100%;
}
.components {
  width: 100%;
}

subcomponent {
  width: 30%;
  display: inline-block;
  height: 200px;
  border: 1px solid black;
  margin: 5px;
  padding: 1px;
  vertical-align: top;
}
